* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-thumb {
    background: #474646;
}

section {
    padding: 3rem 9%;
}

/* Header Section */
.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    background:#f1ffc4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 10%;
}


.header .navbar a {
    margin-right: 1.5rem;
    font-size: 2rem;
    color: #ff9778;
    transition: color 0.2s linear;
}

.header .navbar a:hover {
    color: darkolivegreen;
}

.header .icons div,
.header .icons a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #f1ffc4;
    font-size: 1.7rem;
    color: #ff9778;
    text-align: center;
    cursor: pointer;
    transition: background 0.2s linear, color 0.2s linear;
}

.header .icons a:hover,
.header .icons div:hover {
    background: #f1ffc4;
    color: #f1ffc4;
    text-decoration-color :darkolivegreen;
}

.header #menu-btn {
    display: none;
}

/* Home Section */
.home {
    position: relative;
    padding: 0;
}

.home .slide {
    display: flex;
    min-height: 87vh;
    display: none;
}

.home .slide.active {
    display: flex;
}

.home .slide .content {
    margin: 0;
    text-align: left;
    padding-top: 18rem;
    background-image:url('bg3.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.home .slide .content span {
    color: #fff;
    display: block;
    font-size: 6rem;
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    animation: fadeIn .2s linear backwards;
    text-transform: uppercase;
    letter-spacing: 1.42rem;
    transition: color 0.2s linear;
}

.home .slide .content span:hover {
    color: #ff9778;
}

.home .slide .content h3 {
    font-size: 2rem;
    color: #fff;
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    animation: fadeIn .2s linear backwards .4s;
}

.home .slide .content .btn {
    animation: fadeIn .2s linear backwards .6s;
}

.home #next-slide,
.home #prev-slide {
    height: 4rem;
    width: 4rem;
    line-height: 3.8rem;
    font-size: 2.5rem;
    color: #2c3e50;
    border: 0.1rem solid #2c3e50;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    text-align: center;
    transition: background 0.2s linear, color 0.2s linear;
}

.home #next-slide:hover,
.home #prev-slide:hover {
    background: #e74c3c;
    color: #fff;
}

.home #prev-slide {
    right: 8rem;
}

/* Button Style */
.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    color: #fff;
    font-size: 1.2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.7);
    cursor: pointer;
    border: 0.1rem solid #e74c3c;
    background-color: #e74c3c;
    transition: letter-spacing 0.2s linear, background 0.2s linear, color 0.2s linear;
}

.btn:hover {
    letter-spacing: .1rem;
    background: #fff;
    color: #fdffb6;
}

/* Text Color */
span {
    color: #e74c3c;
}
